<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<div class="mt-10 text-center font-bold text-3xl">
    Hello World
</div>
<div class="h-1 bg-black w-full mb-10"></div>

<table class="table-auto border-collapse border border-gray-400 mx-auto w-[500px]">
    <thead>
        <tr>
            <th class="border border-gray-400">ID</th>
            <th class="border border-gray-400">Name</th>
            <th class="border border-gray-400">Email</th>
        </tr>
    </thead>
    <tbody >
        <tr>
            <td class="border text-center border-gray-400">1</td>
            <td class="border text-center border-gray-400">Vanly</td>
            <td class="border text-center border-gray-400">vanly21@gmail.com</td>
        </tr><tr>
            <td class="border text-center border-gray-400">2</td>
            <td class="border text-center border-gray-400">Heng</td>
            <td class="border text-center border-gray-400">heng11@gmail.com</td>
        </tr><tr>
            <td class="border text-center border-gray-400">3</td>
            <td class="border text-center border-gray-400">Seng Kim</td>
            <td class="border text-center border-gray-400">kim123@gmail.com</td>
        </tr>
    </tbody>
</table>

<div class="mx-10 mt-5 flex-row justify-center items-center">
    <p class="mb-3 text-body first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-heading first-letter:me-3 first-letter:float-start">Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>
    <p class="text-body">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>
</div>
</body>
</html>